.message {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  // padding: 10px;

  align-items: center;
}



.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  gap: 20px;

  .sender {
    font-weight: bold;
  }

  .timestamp {
    color: #666;
    font-size: 0.9em;
  }
}
