
.message-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // margin-bottom: 8px;

  .sender {
    font-weight: bold;
  }

  .timestamp {
    color: #666;
    font-size: 14px;
  }
}

app-readonly-canvas {
  width: 100%;
  height: 100%;
}
