<div class="easel-container">
  <app-drawable-canvas
    [selectedColor]="selectedColor"
    [canvas_width]="1200"
    [canvas_height]="600">
  </app-drawable-canvas>
  <div class="controls">
    <div class="leftControls">
      <input type="color" [(ngModel)]="selectedColor" id="colorPicker" />
      <button class="primary">_</button>
      <button class="icon">text_fields</button>
      <button class="icon">ink_eraser</button>
      <button class="icon" (click)="clearGrid()">delete</button>
    </div>
    <div class="rightControls">
      <button (click)="clearGrid()">Clear</button>
      <button class="primary" (click)="sendGrid()">Send</button>
    </div>
  </div>
</div>
